{% extends 'expense/base.html' %}
{% block content %}
<!-- Default form login -->
<div class="center-div"> 
    <form class="text-center border border-light p-5" method='POST' action="{% url 'signin' %}">
    {% csrf_token %}
    <p class="card-header info-color white-text text-center ">Sign in</p>
    {{ form.as_p }}
    <!-- Sign in button -->
    <button class="btn btn-outline-info btn-rounded btn-block my-4 waves-effect z-depth-0" type="submit">Sign in</button>
    <!-- Register -->
    <p>
        <a href="">Sign Up</a>
    </p>
</form>
<!-- Default form login -->
</div>
{% endblock %}
